.card {
  height: 200px;
}


  .list-group-item-primary {
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .card-body {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: xx-large;
  }

  .backgraph{
    background: #E1F5FE;
  }

  